.about {
    display: flex;
    flex-direction: column;
    position: relative;
}

.maintext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
    color: var(--color-white);
    font-weight: 200;
    height: 30rem;
    margin: 0 0 25rem 0;
    background: linear-gradient(var(--color-primary), var(--color-primary-light));
}

.maintext h2 {
    font-weight: 300;
    font-size: 2rem;
    margin: -2.25rem 0 01rem 0;
}

.maintext p {
    width: 21.875rem;
    text-align: center;

}

.skills {
    width: 53rem;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 2px solid var(--color-white);
    background: var(--color-white);
    box-shadow: 0.5rem 0.5rem 0.9rem var(--color-primary-dark);
    border-radius: 2rem;
    padding: 2rem;
    position: absolute;
    top: 20rem;


    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__column img {
        width: 4rem;
        margin: 1rem 0 2rem 0;
    }


    &__column img:hover {
        animation: rotateIcon 1s ease-in-out;
    }

    &__column p {
        text-align: center;
        font-weight: bold;
    }

}

/* MEDIA QUERIES */

@media only screen and (max-width: 700px) {

    .skills {
        width: 18rem;
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 450px) {

    .maintext p {
        width: 100%
    }
}